<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>output</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>Input single patch image</h4>
                <img src="./images/input_image.png" alt="input image" width="500" height="333">
            </div>
            <div class="col-md-6">
                <h4>Output prediction of single image</h4>
                <img src="./images/predicted_output.png" alt="input image" width="500" height="333">
            </div>
        </div>
            <div class="row"> 
                <p>Inference time: {{ predict_result.inference_time }}</p>
            </div>
            <div class="row">
                <form action="" method="get">
                    <button type= "submit" class="bg-blue-600 rounded-full px-10 py-2 text-white hover:bg-blue-700 hover:shadow-sm transition-all cursor-pointer" 
                hx-get="/predict">search again</button>
                </form>
            </div>
    </div>
</body>
</html>