#map {
	/* configure the size of the map */
	/* width: 700px; */
	height: 600px;
}
.marker-site{
	font-weight: bold;
	text-align: center;
	width: 100px;
	right: 50px;
	font-size: 1em;
	position: relative;
	/* hide at first */
	/* display: none; */
}
.popup-container img{
	width: 100%;
	max-height: 400px;
	text-align: center;
}
.popup-container p{
	font-size: 12px;
	font-weight: normal;
}